body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url("/img/9k.jpg");
background-repeat: repeat;
}

.sidebar-nav {
  padding: 9px 0;
}
.label-login {
	height: 255px;
    width: 100%;
	background-image: url(/soccer/img/label/welk.jpg);
}
.box {
	padding: 8px 10px;
	background: #fdfdfd;
    border: 1px solid #D2D6CF;
    border-bottom: 3px solid #D2D6CF;
	border-radius: 6px;
	margin-bottom: 30px;
}

.box table {
	margin-bottom: 10px;
}

.box > h4 {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 7px;
}
