.inline ul {
  list-style-type: none;
}

.fix-button {
  font-size: 12px;
  margin-top: -7px;
}
#pagecontent {
  margin-bottom: 55px;
}
.unstyled {
  list-style-type: none;
  margin-left: -38px;
}
.botton-pleague {
    color: #333;
    background-color: #33B74E !important;
    border-color: #33B74E !important;
    font-size: 16px;
    margin-top: -9px;
}
.panel-title {
  text-transform: uppercase;
}
.panel-player {
    border-color: #33B74E;
}
.panel-player > .panel-heading {
    color: #fff;
    background-color: #33B74E;
    border-color: #33B74C;
}
.fix-jumbotron {
  margin-top: -15px;
  width: 101.2%;
}
/* FOOTER */
.footer-pl {
  background-color: #DADADA;
  margin: 0px 0px 0px -4px;
  border-radius: 0px 0px 6px 6px;
  width: 102.7%;
  padding: 15px;
}
.fix-space {
  margin-top: 10px;
  margin-left: -30px;
  list-style: none;
}
.c-footer ul {
  list-style-type: none;
}
.c-footer strong {
  font-size: 16px;
}

.content-box {
  padding-left: 30px;
  padding-right: 30px;
}
.btn-chiudi {
  border: 1px solid #B77A7A;
}

/* LABEL SEZIONI */

.titolo-cover {
    color: #ffffff;
    font-size: 8.8vmin;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.98) 5px 1px 6px;
    font-family: Nunito,sans-serif;
    text-align: center;
}
.ruolo-player {
    color: #ffffff;
    font-size: 4.6vmin;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.98) 5px 1px 6px;
    font-family: Nunito,sans-serif;
    text-align: center;
}
.teaser-home {
    color: #ffffff;
    font-size: 2.6vmin;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.98) 5px 1px 6px;
    font-family: Nunito,sans-serif;
    text-align: center;
}
.ruolo-player span{
  color: #e42020;
}
.cover {
    height: 300px;
    border-radius: 6px;
    padding: 1px;
    margin-bottom: 15px;
}
@media (min-width: 1200px) {.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {width: 1170px;}}
@media (max-width: 768px) {.navbar-header {margin-left: 5px!important;margin-right: 5px!important;}}

@media (max-width: 425px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {padding-right: 0px!important;padding-left: 0px!important;}
}
/* MATCH */
.data-match {display:inline;margin-left:15%;margin-right:15%;}
.background-match {background-color: #484848;color: #FFF;margin-bottom: -10px;}
/* HELP CLASS */
.float-right {float:right;}
.float-left {float:left;}
.margin-top-20 {margin-top: 20px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-right-10 {margin-right: 10px;}
.inline {display: inline;}
