{% extends "base.twig" %}

{% import "macros/messagebox.twig" as msgbox %}


{% block page_header %}


{% block image %}
<div class="cover" style="background-image: url(/uploads/cover/home.jpg); background-size: cover;">
    <h2 class="titolo-cover"> {% block browser_title %}{{ i18n.getMessage("home_title", env.getConfig("projectname")) }}{% endblock %}  </h2>
		{% if env.user.id == null %}
					  <h3 class="teaser-home">{{ i18n.getMessage("home_teaser") }}</h3>
					  	{% if env.getConfig("allow_userregistration") or env.getConfig("registration_url")|length > 0 %}
							{% set registerUrl = env.getInternalUrl("register") %}
							{% if env.getConfig("registration_url")|length > 0 %}
								{% set registerUrl = env.getConfig("registration_url") %}
							{% endif %}
							<div style="text-align:center;"><a href="{{ registerUrl }}" class="btn btn-primary btn-lg">{{ i18n.getMessage("home_teaser_link_register") }}</a></div>
						{% endif %}
		{% endif %}
</div>
{% endblock %}

{% if blocks.content_top is defined %}
	{% for uiBlock in blocks.content_top %}
		<div id="{{ uiBlock.id }}_block">
		{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
		</div>
	{% endfor %}
{% endif %}

<div id="messages">
{% if frontMessages is defined %}
	{% for message in frontMessages %}
		{{ msgbox.box(message.title, message.message, message.type) }}
	{% endfor %}
{% endif %}
</div>

<div>
	<div class="col-md-3">
		{{ viewHandler.renderBlock('news')|raw }}

		<div class="ajaxLoadedBlock" id="projectStatisticsBlock"
			data-ajaxblock="projectstatistics" data-ignoreemptymessages="true">
		</div>
	</div>
	<div class="col-md-6">

		<div class="ajaxLoadedBlock" id="latestResultsBlock"
				data-ajaxblock="latest-results-summary" data-ignoreemptymessages="true"></div>

			<div class="ajaxLoadedBlock" id="latestActivitiesBlock"
				data-ajaxblock="user-activities-all" data-ignoreemptymessages="true" data-refreshperiod="10"></div>
	</div>

	<div class="col-md-3">
		{% if blocks.sidebar is defined %}
			{% for uiBlock in blocks.sidebar %}
				{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
			{% endfor %}
		{% endif %}
	</div>
</div>

{% if blocks.content_bottom is defined %}
	{% for uiBlock in blocks.content_bottom %}
		<div id="{{ uiBlock.id }}_block">
		{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
		</div>
	{% endfor %}
{% endif %}

{% endblock %}

{% block page_columns %}
{% endblock %}
