{% macro textfield(fieldId, label, value, required = false, errormsg = null, type = 'text', helptext = null, disabled = false) %}

{% if errormsg[fieldId] is defined %}
	{% set error = errormsg[fieldId] %}
{% else %}
	{% set error = '' %}
{% endif %}
<div class="form-group{% if error|length > 0 %} has-error{% endif %}">
	<label class="control-label col-sm-2" for="{{ fieldId }}">
	{% if required %}
		<strong>{{ label }}</strong>
	{% else %}
		{{ label }}
	{% endif %}
	</label>
	<div class="col-sm-10">
		<input type="{{ type }}" class="form-control{% if type == "number" %} input-sm{% endif %}" id="{{ fieldId }}" name="{{ fieldId }}" value="{{ value }}" placeholder="{{ label }}"{% if required %} required{% endif %}{% if disabled %} disabled{% endif %} {% if helptext|length > 0 %}aria-describedby="{{ fieldId }}_helptext"{% endif %}>
		{% if error|length > 0 %}<span class="help-block">{{ error }}</span>{% endif %}
		{% if helptext|length > 0 %}<span id="{{ fieldId }}_helptext" class="help-block">{{ helptext }}</span>{% endif %}
	</div>
</div>
{% endmacro %}

{% macro autocomplete(fieldId, label, value, required = false, errormsg = null, ajaxblock, helptext = null) %}

{% if errormsg[fieldId] is defined %}
	{% set error = errormsg[fieldId] %}
{% else %}
	{% set error = '' %}
{% endif %}
<div class="form-group{% if error|length > 0 %} has-error{% endif %}">
	<label class="control-label col-sm-2" for="{{ fieldId }}">
	{% if required %}
		<strong>{{ label }}</strong>
	{% else %}
		{{ label }}
	{% endif %}
	</label>
	<div class="col-sm-10">
		<input type="text" id="{{ fieldId }}" class="form-control" data-provide="typeahead" data-ajaxblock="{{ ajaxblock }}" name="{{ fieldId }}" value="{{ value }}" placeholder="{{ label }}"{% if required %} required{% endif %}>
		{% if error|length > 0 %}<span class="help-inline">{{ error }}</span>{% endif %}
		{% if helptext|length > 0 %}<span class="help-inline">{{ helptext }}</span>{% endif %}
	</div>
</div>
{% endmacro %}

{% macro checkbox(fieldId, label, value, colspan=false, errormsg = null) %}
<div class="form-group{% if errormsg|length > 0 %} has-error{% endif %}"">
	<div class="{% if colspan == false %}col-sm-offset-3 col-sm-9{% else %}col-sm-12{% endif %}">
		<div class="checkbox">
		    <label>
		      <input type="checkbox" id="{{ fieldId }}" name="{{ fieldId }}" value="1"{% if value == 1 %} checked{% endif %}> {{ label|raw }}
		    </label>
	    </div>

	</div>
</div>
{% endmacro %}

{% macro textarea(fieldId, label, value, required = false, errormsg = null, helptext = null, rows = 10) %}

{% if errormsg[fieldId] is defined %}
	{% set error = errormsg[fieldId] %}
{% else %}
	{% set error = '' %}
{% endif %}
<div class="form-group{% if error|length > 0 %} has-error{% endif %}">
	<label class="control-label col-sm-2" for="{{ fieldId }}">
	{% if required %}
		<strong>{{ label }}</strong>
	{% else %}
		{{ label }}
	{% endif %}
</label><br>
	<textarea id="{{ fieldId }}" name="{{ fieldId }}" rows="{{ rows }}" class="span5">{{ value }}</textarea>
	{% if error|length > 0 %}<span class="help-inline">{{ error }}</span>{% endif %}
	{% if helptext|length > 0 %}<span class="help-inline">{{ helptext }}</span>{% endif %}
</div>
{% endmacro %}

{% macro readonly(label, value) %}

<div class="form-group">
	<label class="control-label">
		{{ label }}
	</label>
	<div class="controls">
		<span class="input-large uneditable-input">{{ value }}</span>
	</div>
</div>
{% endmacro %}

{% macro slider(fieldId, value) %}
  <input type="text" id="{{ fieldId }}" name="{{ fieldId }}" class="span6 slider" value="{{ value }}"
  	data-slider-min="1" data-slider-max="100"
  	data-slider-step="1"
  	data-slider-value="{{ value }}"
  	data-slider-orientation="horizontal"
  	data-slider-selection="before" />
  	<span>{{ i18n.getMessage("unit_percent") }}</span>
{% endmacro %}

{% macro teamPlayerSelection(fieldId, label, selectedPlayer = null, positionsAndPlayers) %}

<div class="form-group">
	<label class="control-label" for="{{ fieldId }}">
		{{ label }}
	</label>
	<div class="controls">
		<select name="{{ fieldId }}" id="{{ fieldId }}">
			<option></option>
			{% for position,players in positionsAndPlayers %}
				<optgroup label="{{ i18n.getMessage("player_position_" ~ position) }}">
				{% for player in players if player.transfermarket != "1" %}
					<option value="{{ player.id }}" {% if selectedPlayer == player.id  %} selected{% endif %}>{{ player.firstname }} {% if player.pseudonym|length > 0 %}&quot;{{ player.pseudonym }}&quot; {% endif %}{{ player.lastname }}{% if player.position_main|length > 0 %} ({{ i18n.getMessage("player_mainposition_" ~ player.position_main) }}){% endif %}</option>
				{% endfor %}
				</optgroup>
			{% endfor %}
		</select>
	</div>
</div>
{% endmacro %}

{% macro submitButton(label) %}
	<div class="form-group">
		<div class="col-sm-offset-3 col-sm-9">
			<button type="submit" class="btn btn-primary">{{ label }}</button>
		</div>
	</div>
{% endmacro %}
