<footer>
<div class="col-md-12" style="margin-top:15px;margin-left: -5px;">

  <div class="jumbotron fix-jumbotron hidden-sm hidden-xs">
			<div class="container">

        <div class="col-md-4">
          <strong>Link Utili</strong>
          <ul class="fix-space">
            <li><a href="/?page=news">{{ i18n.getMessage("news_navlabel") }}</a></li>
            <li><a href="/?page=highscore">{{ i18n.getMessage("highscore_navlabel") }}</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <strong>Link Utili</strong>
          <ul class="fix-space">
            <li><a href="http://playerleague.it/forum/index.php?/topic/3-regolamento-gioco/#comment-3">Regolamento Gioco</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <strong></strong>
          <ul class="fix-space">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
<div class="col-md-12">
        <ul class="languageswitcher">
        {% for language in i18n.supportedLanguages %}
        	<li><a href="{{ env.getInternalActionUrl("switch-language", "lang=" ~ language ~ "&id=" ~ env.getRequestParameter("id")) }}"><img src="{{ skin.getImage("flags/" ~ language ~ ".png") }}" width="24" height="24" alt="{{ i18n.getMessage('lang_label_' ~ language) }}" title="{{ i18n.getMessage('lang_label_' ~ language) }}" /></a></li>
        {% endfor %}
        </ul>
</div>

			</div>
  </div>


  <p class="float-left"><a href="{{ env.getInternalUrl("termsandconditions") }}">{{ i18n.getMessage("termsandconditions_navlabel") }}</a>
    {% if env.getConfig("privacypolicy_url")|length > 0 %}| <a href="{{ env.getConfig("privacypolicy_url") }}">
        {{ i18n.getMessage("privacypolicy_navlabel") }}</a>
    {% endif %}

    <!--      | <a href="{{ env.getInternalUrl("imprint") }}">{{ i18n.getMessage("imprint_navlabel") }}</a> -->
  </p>
  <p class="float-right"><i class="icon-time"></i> {{ env.getFormattedDatetime(null) }}</p>

</div>
</footer>


<div id="ajaxLoaderPage"></div>

{% for jsSource in skin.getJavaScriptSources() %}
<script src="{{ jsSource }}" ></script>
{% endfor %}
{% if scriptReferences is defined %}
  {% for jsSource in scriptReferences %}
  <script src="{{ env.getConfig("context_root") }}/js/{{ jsSource }}" ></script>
  {% endfor %}
{% endif %}
