<!DOCTYPE html>
<html>
	<head>
		<title>{% block browser_title %}{{ block("page_title") }} - {{ env.getConfig("projectname") }}{% endblock %}</title>


		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% if env.getRequestParameter("id") != null %}
			{% set url = env.getInternalUrl(null, "id=" ~ env.getRequestParameter("id"), TRUE) %}
		{% else %}
			{% set url = env.getInternalUrl(null, null, TRUE) %}
		{% endif %}
		<link rel="canonical" href="{{ url }}"/>

		{% for cssSource in skin.getCssSources() %}
		<link href="{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
		{% endfor %}
		{% if cssReferences is defined %}
			{% for cssSource in cssReferences %}
			<link href="{{ env.getConfig("context_root") }}/css/{{ cssSource }}" media="all" rel="stylesheet" type="text/css" />
			{% endfor %}
		{% endif %}

		<link rel="shortcut icon" type="image/x-icon" href="{{ env.getConfig("context_root") }}/favicon.ico" />

		{% if env.getConfig("facebook_appid") %}
		<meta property="fb:app_id" content="{{ env.getConfig("facebook_appid") }}"/>
		{% endif %}
		{{ env.getConfig("head_code")|raw }}

		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId      : '1086860641397424',
		      xfbml      : true,
		      version    : 'v2.7'
		    });
		  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		</script>

		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82443464-1', 'auto');
  ga('send', 'pageview');

</script>
	</head>
	<body>

		{% block navigation %}
		{% include 'navigationbar.twig' %}
		{% endblock %}

		<div class="container container-pr">

			{% block page_header %}
			{% endblock %}

			{% block page_columns %}
			<div class="col-md-12">

				<div id="image">
				{{ block("image") }}
				</div>

				<div class="col-md-8" id="contentArea">


						<div id="messages">
						{% block messages_block %}
						{{ viewHandler.renderBlock("messagesblock")|raw }}
						{% endblock %}
						</div>

						<div id="pagecontent">
						{% if blocks.content_top is defined %}
							{% for uiBlock in blocks.content_top %}
								<div id="{{ uiBlock.id }}_block">
								{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
								</div>
							{% endfor %}
						{% endif %}


						{{ block("page_content") }}

						{% if blocks.content_bottom is defined %}
							{% for uiBlock in blocks.content_bottom %}
								<div id="{{ uiBlock.id }}_block">
								{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
								</div>
							{% endfor %}
						{% endif %}
						</div>

				</div>
				<div class="col-md-4">

					{% if blocks.sidebar is defined %}
						{% for uiBlock in blocks.sidebar %}
							<div id="{{ uiBlock.id }}_block">
							{{ viewHandler.renderBlock(uiBlock.id, uiBlock)|raw }}
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			{% endblock %}

			<hr/>

			{% block footer %}
			{% include 'footer.twig' %}
			{% endblock %}



		</div>

		<!--[if lt IE 9]>
		<script src="js/extcanvas/excanvas.compiled.js"></script>
		<![endif]-->
	</body>
</html>
