<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
					<a class="navbar-brand" href="/?page=home" title="{{ i18n.getNavigationLabel("home") }}">{{ env.getConfig("projectname") }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
	{% if env.user.id == null %}
						<li role="menuitem"><a href="/?page=home">{{ i18n.getMessage("home_navlabel") }}</a></li>
            <li role="menuitem"><a href="/?page=register">{{ i18n.getMessage("register_navlabel") }}</a></li>
						<li role="menuitem"><a href="/?page=freeclubs">{{ i18n.getMessage("freeclubs_navlabel") }}</a></li>
{% else %}

<li><a href="/?page=home">{{ i18n.getMessage("home_navlabel") }}</a></li>
<li role="menuitem" class="dropdown">
	<a class="dropdown-toggle" id="labeloffice" role="button" data-toggle="dropdown" href="#">
		{{ i18n.getMessage("office_navlabel") }}<b class="caret"></b>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="labeloffice">
			<li role="menuitem"><a href="/?page=office">{{ i18n.getMessage("office_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=myteam">{{ i18n.getMessage("myteam_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=formation">{{ i18n.getMessage("formation_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=training">{{ i18n.getMessage("training_navlabel") }}</a></li>
			<li role="separator" class="divider"></li>
			<li role="menuitem"><a href="/?page=myschedule">{{ i18n.getMessage("myschedule_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=finances">{{ i18n.getMessage("finances_navlabel") }}</a></li>
			<li role="separator" class="divider"></li>
			<li role="menuitem"><a href="/?page=transfermarket">{{ i18n.getMessage("transfermarket_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=transferoffers">{{ i18n.getMessage("transferoffers_navlabel") }}</a></li>
			<li role="separator" class="divider"></li>
			<li role="menuitem"><a href="/?page=sponsor">{{ i18n.getMessage("sponsor_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=tickets">{{ i18n.getMessage("tickets_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=stadium">{{ i18n.getMessage("stadium_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=stadiumenvironment">{{ i18n.getMessage("stadiumenvironment_navlabel") }}</a></li>
	</ul>
</li>
<li role="menuitem" class="dropdown">
		<a class="dropdown-toggle" id="labelyouth-team" role="button" data-toggle="dropdown" href="#">
			{{ i18n.getMessage("youth-team_navlabel") }} <b class="caret"></b>
		</a>
		<ul class="dropdown-menu" role="menu" aria-labelledby="labelyouth-team">
			<li role="menuitem"><a href="/?page=youth-team">{{ i18n.getMessage("youth-team_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=youth-matches">{{ i18n.getMessage("youth-matches_navlabel") }}</a></li>
			<li role="separator" class="divider"></li>
			<li role="menuitem"><a href="/?page=youth-scouting">{{ i18n.getMessage("youth-scouting_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=youth-matchrequests">{{ i18n.getMessage("youth-matchrequests_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=youth-marketplace">{{ i18n.getMessage("youth-marketplace_navlabel") }}</a></li>
		</ul>
</li>
<li role="menuitem" class="dropdown">
	<a class="dropdown-toggle" id="labelnationalteam" role="button" data-toggle="dropdown" href="#">
		{{ i18n.getMessage("nationalteam_navlabel") }} <b class="caret"></b>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="labelnationalteam">
		<li role="menuitem"><a href="/?page=nationalteam">{{ i18n.getMessage("nationalteam_navlabel") }}</a></li>
		<li role="menuitem"><a href="/?page=nominate-national-players">{{ i18n.getMessage("nominate-national-players_navlabel") }}</a></li>
		<li role="menuitem"><a href="/?page=nationalmatches">{{ i18n.getMessage("nationalmatches_navlabel") }}</a></li>
	</ul>
</li>
<li role="menuitem" class="dropdown">
	<a class="dropdown-toggle" id="labelleagues" role="button" data-toggle="dropdown" href="#">
		{{ i18n.getMessage("leagues_navlabel") }} <b class="caret"></b>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="labelleagues">
			<li role="menuitem"><a href="/?page=leagues">{{ i18n.getMessage("leagues_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=results">{{ i18n.getMessage("results_navlabel") }}</a></li>
			<li role="separator" class="divider"></li>
			<li role="menuitem"><a href="/?page=topstrikers">{{ i18n.getMessage("topstrikers_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=topscorers">{{ i18n.getMessage("topscorers_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=teamoftheday">{{ i18n.getMessage("teamoftheday_navlabel") }}</a></li>
			<li role="separator" class="divider"></li>
			<li role="menuitem"><a href="/?page=todaysmatches">{{ i18n.getMessage("todaysmatches_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=playerssearch">{{ i18n.getMessage("playerssearch_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=halloffame">{{ i18n.getMessage("halloffame_navlabel") }}</a></li>
			<li role="menuitem"><a href="/?page=alltimetable">{{ i18n.getMessage("alltimetable_navlabel") }}</a></li>
		</ul>
</li>
<li role="menuitem"><a href="/?page=freeclubs">{{ i18n.getMessage("freeclubs_navlabel") }}</a></li>
<li role="menuitem"><a href="/forum">Forum</a></li>

{% endif %}
          </ul>
        </div>
      </div>
</nav>
