<div class="text-right">
	<a href="#helpModal" class="btn btn-info" role="button" data-toggle="modal">{{ i18n.getMessage("help_button") }}</a>
</div>

<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ i18n.getMessage("help_dialog_title") }}</h4>
      </div>
      <div class="modal-body">
				{{ block("help_content") }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n.getMessage("button_close") }}</button>
      </div>
    </div>
  </div>
</div>
