	<div class="span8">
			{% if match_home_id == env.getUser().clubId %}
					{% if match_home_formation_id %}
					{% else %}
						<div class="alert alert-error"> <strong>Ehi Mister!</strong> ricordati di inserire la <a href="?page=formation">formazione!</a></div>
					{% endif %} 
			{% else %}
					{% if match_guest_formation_id %}
					{% else %}
						<div class="alert alert-error"> <strong>Ehi Mister!</strong> ricordati di inserire la <a href="?page=formation">formazione!</a></div>
					{% endif %} 
			{% endif %} 
				

	</div>


{% block nextmatch_footer %}
{% endblock %}
