<em>{{ i18n.getMessage("next_match_block_title") }}</em>
{% if match_date is defined %}
	<div class="col-md-12">
		<p><em>{{ env.getFormattedDatetime(match_date) }} | {{ i18n.getMessage("matchtype_" ~ match_type) }}</em></p>
		<p><strong><a href="{{ env.getInternalUrl("team", "id=" ~ match_home_id) }}">{{ match_home_name }}</a>
			{% if match_home_formation_id %}
				<i class="icon-check-sign wstooltip" title="{{ i18n.getMessage("formation_submitted_tooltip") }}"></i>
			{% else %}
				<i class="icon-minus-sign-alt wstooltip" title="{{ i18n.getMessage("formation_notsubmitted_tooltip") }}"></i>
			{% endif %}
			-
			<a href="{{ env.getInternalUrl("team", "id=" ~ match_guest_id) }}">{{ match_guest_name }}</a>
			{% if match_guest_formation_id %}
				<i class="icon-check-sign wstooltip" title="{{ i18n.getMessage("formation_submitted_tooltip") }}"></i>
			{% else %}
				<i class="icon-minus-sign-alt wstooltip" title="{{ i18n.getMessage("formation_notsubmitted_tooltip") }}"></i>
			{% endif %}
			</strong></p>
		<p><a href="{{ env.getInternalUrl("match", "id=" ~ match_id) }}" class="btn">{{ i18n.getMessage("match_navlabel") }}</a></p>
	</div>
{% else %}
<p>{{ i18n.getMessage("next_match_block_no_nextmatch") }}</p>
{% endif %}
{% block nextmatch_footer %}
{% endblock %}
