{{ i18n.getMessage("sendpassword_email_greeting") }}<br><br>

{{ i18n.getMessage("sendpassword_email_introduction") }}

{{ i18n.getMessage("sendpassword_email_newpassword_label") }}<br><br> {{ newpassword|raw }}<br><br><br><br>

{{ i18n.getMessage("sendpassword_email_ending") }}
