

{% extends "views/formation_base.twig" %}

{% block image %}
<div class="cover" style="background-image: url(/uploads/cover/tactics.jpg); background-size: cover;">
    <h2 class="titolo-cover"> {% block page_title %} {{ i18n.getMessage("formation_title") }} {% endblock %} </h2>
</div>
{% endblock %}

{% block formation_setup %}
	<form method="post" class="form-inline">
		<input type="hidden" name="page" value="formation" />
		<input type="hidden" name="templateid" value="" />
		<input type="hidden" name="nationalteam" value="{{ env.getRequestParameter("nationalteam") }}" />

		<select class="form-control col-md-12 margin-right-10" name="id">
			{% for nextMatch in nextMatches %}
				<option value="{{ nextMatch.match_id }}"{% if env.getRequestParameter("id") == nextMatch.match_id %} selected{% endif %}>({{ env.getFormattedDatetime(nextMatch.match_date) }}) {{ nextMatch.match_home_name }} - {{ nextMatch.match_guest_name }}</option>
			{% endfor %}
		</select>

		<button type="submit" class="btn">{{ i18n.getMessage("button_choose") }}</button>
	</form>

	<div class="row">
		<div class="span4">
			<p><em>{{ env.getFormattedDatetime(next_match.match_date) }} | {{ i18n.getMessage("matchtype_" ~ next_match.match_type) }}</em></p>
			<p><strong><a href="{{ env.getInternalUrl("team", "id=" ~ next_match.match_home_id) }}">{{ next_match.match_home_name }}</a> - <a href="{{ env.getInternalUrl("team", "id=" ~ next_match.match_guest_id) }}">{{ next_match.match_guest_name }}</a></strong></p>
		</div>
		<div class="span3">
			<p><em>{{ i18n.getMessage("next_match_block_previous_matches") }}</em></p>
			{% if previous_matches is defined and previous_matches|length > 0 %}
			<table class="table">
			{% for previousMatch in previous_matches %}
				<tr>
					<td>{{ previousMatch.home_team }} - {{ previousMatch.guest_team }}</td>
					<td><a href="{{ env.getInternalUrl("match", "id=" ~ previousMatch.id) }}">{{ previousMatch.home_goals }} - {{ previousMatch.guest_goals }}</a></td>
				</tr>
			{% endfor %}
			</table>
			{% else %}
			<p>{{ i18n.getMessage("next_match_block_no_previous_matches") }}</p>
			{% endif %}
		</div>
	</div>

<div class="col-md-12 margin-bottom-20">
	<form method="post" class="form-inline">
		<input type="hidden" name="page" value="formation" />
		<input type="hidden" id="preselect" name="preselect" value="" />
		<input type="hidden" name="nationalteam" value="{{ env.getRequestParameter("nationalteam") }}" />
		<input type="hidden" name="id" value="{{ next_match.match_id }}" />

		<h4>{{ i18n.getMessage("formation_setup_title") }}</h4>

		<select class="form-control col-md-2 wstooltip" name="formation_defense" title="{{ i18n.getMessage("player_position_defense") }}">
			{% for i in 1..4 %}
				<option value="{{ i }}"{% if setup.defense == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<select class="form-control col-md-2 wstooltip" name="formation_defensemidfield" title="{{ i18n.getMessage("option_DM") }}">
			{% for i in 0..3 %}
				<option value="{{ i }}"{% if setup.dm == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<select class="form-control col-md-2 wstooltip" name="formation_midfield" title="{{ i18n.getMessage("player_position_midfield") }}">
			{% for i in 0..4 %}
				<option value="{{ i }}"{% if setup.midfield == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<select class="form-control col-md-2 wstooltip" name="formation_offensivemidfield" title="{{ i18n.getMessage("option_OM") }}">
			{% for i in 0..3 %}
				<option value="{{ i }}"{% if setup.om == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<select class="form-control col-md-2 wstooltip" name="formation_forward" title="{{ i18n.getMessage("option_MS") }}">
			{% for i in 0..2 %}
				<option value="{{ i }}"{% if setup.striker == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>
		<select class="form-control col-md-2 wstooltip" name="formation_outsideforward" title="{{ i18n.getMessage("player_position_outsideforward") }}">
			{% for i in [0,2] %}
				<option value="{{ i }}"{% if setup.outsideforward == i %} selected{% endif %}>{{ i }}</option>
			{% endfor %}
		</select>

		<div class="btn-group">
			<button type="submit" class="btn" name="buttonSetupChange" value="1">{{ i18n.getMessage("formation_setup_button") }}</button>

			{% if env.getConfig("hide_strength_attributes") != "1" %}
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#" class="formationSetupSubmit" data-preselect="strongest"><i class="icon-rocket"></i> {{ i18n.getMessage("formation_setup_strongest") }}</a></li>
				<li><a href="#" class="formationSetupSubmit" data-preselect="freshest"><i class="icon-heart"></i> {{ i18n.getMessage("formation_setup_freshest") }}</a></li>
				<li><a href="#" class="formationSetupSubmit" data-preselect="motivated"><i class="icon-smile"></i> {{ i18n.getMessage("formation_setup_motivated") }}</a></li>
			</ul>
			{% endif %}
		</div>
		{% if env.getConfig("formation_max_templates") > 0  and not env.getRequestParameter("nationalteam") %}
		<a class="btn ajaxLink" href="#templatesModal" role="button" data-toggle="modal"
			data-ajaxblock="formation_templates" data-ajaxtarget="formation-templates-content"
			data-ajaxquerystr="id={{ next_match.match_id }}"><i class="icon-folder-open-alt"></i> {{ i18n.getMessage("formation_load_from_template") }}</a>
		{% endif %}
		<a class="btn clearAllBtn" href="#"><i class="icon-trash"></i> {{ i18n.getMessage("formation_clearall") }}</a>
	</form>
</div>
	<div class="modal fade" id="templatesModal" tabindex="-1" role="dialog" aria-labelledby="templatesModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="statModalLabel">{{ i18n.getMessage("formation_load_from_template") }}</h4>
	      </div>
	      <div class="modal-body">
					<div id="formation-templates-content">...</div>
	      </div>
	      <div class="modal-footer">
					<a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ i18n.getMessage("button_close") }}</a>
	      </div>
	    </div>
	  </div>
	</div>

{% endblock %}


{% block form_footer %}
<div class="col-md-7 margin-bottom-20">
<h4>{{ i18n.getMessage("formation_freekickplayer") }}</h4>

<select name="freekickplayer" id="freekickplayer" class="span4 form-control" data-preselect="{{ formation.freekickplayer }}">
	<option value=""></option>
</select>
</div>

<div class="col-md-6 margin-bottom-20">
<h4>{{ i18n.getMessage("formation_offensive_title") }}</h4>

{{ formelements.slider("offensive", formation.offensive) }}

	<div class="form-horizontal" style="margin-top: 10px">
		<div class="control-group">
			<label class="control-label" for="longpasses">{{ i18n.getMessage("formation_option_longpasses") }} <i class="icon-question-sign wstooltip" data-toggle="tooltip" title="{{ i18n.getMessage('formation_option_longpasses_help') }}"></i></label>
			<div class="controls">
				<div class="make-switch"
					data-on-label="{{ i18n.getMessage("formation_switch_on") }}" data-off-label="{{ i18n.getMessage("formation_switch_off") }}"
					data-on="success" data-off="warning">
					<input type="checkbox" id="longpasses" name="longpasses" value="1"{% if formation.longpasses is defined and formation.longpasses %} checked{% endif %}>
				</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="counterattacks">{{ i18n.getMessage("formation_option_counterattacks") }} <i class="icon-question-sign wstooltip" data-toggle="tooltip" title="{{ i18n.getMessage('formation_option_counterattacks_help') }}"></i></label>
			<div class="controls">
				<div class="make-switch"
					data-on-label="{{ i18n.getMessage("formation_switch_on") }}" data-off-label="{{ i18n.getMessage("formation_switch_off") }}"
					data-on="success" data-off="warning">
					<input type="checkbox" id="counterattacks" name="counterattacks" value="1"{% if formation.counterattacks is defined and formation.counterattacks %} checked{% endif %}>
				</div>
			</div>
		</div>
		{% if env.getConfig("formation_max_templates") > 0 and not env.getRequestParameter("nationalteam") %}
		<hr/>
		{{ formelements.textfield('templatename', i18n.getMessage('formation_templatename_field'), env.getRequestParameter('templatename'), false, validationMsg, 'text', i18n.getMessage('formation_templatename_field_help')) }}
		{% endif %}
	</div>

</div>

<div class="col-md-7 margin-bottom-20">
	<div class="form-actions" style="text-align: center">
		{% if next_match.match_id is defined %}
		<button type="submit" class="btn btn-primary">{{ i18n.getMessage('button_save') }}</button>
		{% else %}
		<a href="#disabledSave" id="disabledSave" class="btn btn-primary disabled">{{ i18n.getMessage('button_save') }}</a>
		{% endif %}

		<a href="{{ env.getInternalUrl(env.getPageId()) }}" class="btn">{{ i18n.getMessage('button_reset') }}</a>
	</div>
	<input type="hidden" name="setup" value="{{ setup.defense }}-{{ setup.dm }}-{{ setup.midfield }}-{{ setup.om }}-{{ setup.striker }}-{{ setup.outsideforward }}"/>
	<input type="hidden" name="page" value="formation"/>
	<input type="hidden" name="action" value="save-formation"/>
	<input type="hidden" name="id" value="{{ next_match.match_id }}"/>
	<input type="hidden" name="nationalteam" value="{{ env.getRequestParameter("nationalteam") }}" />
</div>
{% endblock %}
