{% extends "base.twig" %}

{% block page_title %}
{{ i18n.getMessage("league_navlabel") }}
{% endblock %}

{% block page_content %}

<form class="form-inline margin-bottom-20" method="post">

	<div class="form-group col-md-9">
		<label class="control-label" for="country">{{ i18n.getMessage("entity_league") }}</label>
		<select class="form-control" id="id" name="id">
			<option></option>
		{% for leagueItem in leagues %}
			<option value="{{ leagueItem.league_id }}"{% if league.league_id is defined and league.league_id == leagueItem.league_id or env.getRequestParameter("id") == leagueItem.league_id %} selected{% endif %}>{{ leagueItem.league_country }} - {{ leagueItem.league_name }}</option>
		{% endfor %}
		</select>
	</div>


	<button type="submit" class="btn btn-primary ajaxSubmit"
		data-ajaxtarget="leaguetable_block" data-ajaxblock="leaguetable">{{ i18n.getMessage('button_display') }}</button>

	<input type="hidden" name="page" value="leagues" />
</form>

{% endblock %}
