{% block image %}
<div class="cover" style="background-image: url(/uploads/cover/calendario.jpg); background-size: cover;">
    <h2 class="titolo-cover"> {% block page_title %} {{ i18n.getMessage("myschedule_navlabel") }} {% endblock %} </h2>
</div>
{% endblock %}

{% extends "base.twig" %}

{% block page_content %}

{% include 'blocks/results-list.twig' %}

{% endblock %}