
{% extends "base.twig" %}

{% import "macros/playerlists.twig" as playerlists %}

{% block image %}
<div class="cover" style="background-image: url(/uploads/cover/myteam.jpg); background-size: cover;">
    <h2 class="titolo-cover"> {% block page_title %} {{ i18n.getMessage("myteam_title") }} {% endblock %} </h2>
</div>
{% endblock %}


{% block page_content %}

{% if players is defined and players|length > 0 %}

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ i18n.getMessage("playertable_head_position") }}">{{ i18n.getMessage("playertable_head_position_abbr") }}</abbr></th>
				<th>{{ i18n.getMessage("playertable_head_name") }}</th>

				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<th>{{ i18n.getMessage("playertable_head_strength") }}</th>
				{% endif %}

				<th>{{ i18n.getMessage("playertable_head_age") }}</th>
				<th>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</th>
				<th><abbr title="{{ i18n.getMessage("entity_player_vertrag_spiele") }}">{{ i18n.getMessage("playertable_head_matches_abbr") }}</abbr></th>
			</tr>
		</thead>
		<tbody>
			{% set salarySum = 0 %}
			{% for player in players %}
			{% set salarySum = salarySum + player.contract_salary %}
			<tr{% if player.contract_matches < 10 %} class="error"{% endif %}>
				<td style="text-align: center"><img src="{{ skin.getImage("icons/playertype_" ~ player.position ~ ".png") }}"
					alt="{{ i18n.getMessage("player_position_" ~ player.position) }}" title="{{ i18n.getMessage("player_position_" ~ player.position) }}" />
					{% if (player.position_main|length > 0) %}
					<p title="{{ i18n.getMessage("option_" ~ player.position_main) }}">{{ i18n.getMessage("player_mainposition_" ~ player.position_main) }}</p>
					{% endif %}
				</td>
				<td><p><a href="{{ env.getInternalUrl("player", "id=" ~ player.id) }}">{{ player.firstname }} {% if player.pseudonym|length > 0 %}"{{ player.pseudonym }}" {% endif %}{{ player.lastname }}</a>
				{% if player.unsellable == 1 %}
					<a class="ajaxLink" href="#" title="{{ i18n.getMessage("myteam_unsellable_unmark_tooltip") }}"
								data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=unmarkUnsellable&id={{ player.id }}"><i class="icon-eye-close darkIcon"></i></a>
				{% endif %}
				{% if player.lending_fee > 0 and player.lending_owner_id == 0 %}
					<a class="ajaxLink wstooltip" href="#" title="{{ i18n.getMessage("lending_lendable_unmark", player.lending_fee) }}"
								data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=unmarkLendable&id={{ player.id }}"><i class="icon-share-alt darkIcon"></i></a>
				{% endif %}
				{% if player.transfermarket %}
					<a class="wstooltip" href="{{ env.getInternalUrl("transfer-bid", "id=" ~ player.id) }}" title="{{ i18n.getMessage("entity_player_transfermarkt") }}"><i class="icon-hand-up darkIcon"></i></a>
				{% endif %}
				{% if player.id == captain_id %}
					<i class="icon-group wstooltip" title="{{ i18n.getMessage("myteam_captain_tooltip") }}"></i>
				{% endif %}
				</p>

				{% if player.lending_owner_id == 0 and
					(player.transfermarket == 0
					or env.getConfig("enable_player_resignation")
					or player.contract_matches <= env.getConfig("contract_max_number_of_remaining_matches"))
					or env.getConfig("lending_enabled") == 0
					or player.id != captain_id %}
					<div class="btn-group">
						<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">{{ i18n.getMessage("myteam_action_button") }} <span class="caret"></span></a>
						<ul class="dropdown-menu">

							{% if player.unsellable == 0 %}
								{% if env.getConfig("transfermarket_enabled") and player.lending_fee == 0 %}
									<li><a href="{{ env.getInternalUrl("sell-player", "id=" ~ player.id) }}"><i class="icon-share"></i> {{ i18n.getMessage("myteam_player_sell") }}</a></li>
								{% endif %}
									<li><a class="ajaxLink" href="#" title="{{ i18n.getMessage("myteam_unsellable_tooltip") }}"
										data-ajaxtarget="pagecontent" data-ajaxquerystr="page=myteam&action=markAsUnsellable&id={{ player.id }}"><i class="icon-eye-close"></i> {{ i18n.getMessage("myteam_unsellable") }}</a></li>

								{% if player.transfermarket == 0 and player.lending_fee == 0 and env.getConfig("lending_enabled") %}
									<li><a href="{{ env.getInternalUrl("lend-player", "id=" ~ player.id) }}"><i class="icon-share-alt"></i> {{ i18n.getMessage("lending_lend_button") }}</a></li>
								{% endif %}

							{% endif %}

							{% if player.contract_matches <= env.getConfig("contract_max_number_of_remaining_matches") %}
								<li><a href="{{ env.getInternalUrl("extend-contract", "id=" ~ player.id) }}"><i class="icon-briefcase"></i> {{ i18n.getMessage("myteam_player_extend_contract") }}</a></li>
							{% endif %}

							{% if player.id != captain_id %}
								<li><a href="{{ env.getInternalActionUrl("select-captain", "id=" ~ player.id) }}"><i class="icon-group"></i> {{ i18n.getMessage("myteam_player_select_as_captain") }}</a></li>
							{% endif %}

							{% if env.getConfig("enable_player_resignation") %}
								<li><a href="#fire{{ player.id }}Modal" role="button" data-toggle="modal"><i class="icon-remove-circle"></i> {{ i18n.getMessage("fireplayer_button") }}</a></li>
							{% endif %}
						</ul>
					</div>

					{% if env.getConfig("enable_player_resignation") %}
					<div class="modal fade" id="fire{{ player.id }}Modal" tabindex="-1" role="dialog" aria-labelledby="fire{{ player.id }}ModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					        <h4 class="modal-title" id="fire{{ player.id }}ModalLabel">{{ i18n.getMessage("fireplayer_modal_title" ) }}</h4>
					      </div>
					      <div class="modal-body">
					        <p>{{ i18n.getMessage("fireplayer_modal_content",player.firstname ~ " " ~ player.lastname) }}</p>

					        {% if env.getConfig("player_resignation_compensation_matches") > 0 %}
					          <p>{{ i18n.getMessage("fireplayer_modal_compensation")|format((env.getConfig("player_resignation_compensation_matches") * player.contract_salary)|number_format(0, ',', ' '), env.getConfig("game_currency"))|raw }}</p>
					        {% endif %}

					      </div>
					      <div class="modal-footer">
					        <a href="{{ env.getInternalActionUrl("fire-player", "id=" ~ player.id) }}" class="btn btn-primary">{{ i18n.getMessage("fireplayer_modal_confirm") }}</a>
					        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ i18n.getMessage("button_cancel") }}</a>
					      </div>
					    </div>
					  </div>
					</div>
					{% endif %}
				{% endif %}

				</td>

				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<td>
						<ul class="unstyled">
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength") }}">{{ i18n.getMessage("playertable_head_strength_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength) }}>{{ player.strength }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_technic") }}">{{ i18n.getMessage("playertable_head_strength_technic_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_technic) }}>{{ player.strength_technic }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_freshness") }}">{{ i18n.getMessage("playertable_head_strength_freshness_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_freshness) }}>{{ player.strength_freshness }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_stamina") }}">{{ i18n.getMessage("playertable_head_strength_stamina_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_stamina) }}>{{ player.strength_stamina }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_satisfaction") }}">{{ i18n.getMessage("playertable_head_strength_satisfaction_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_satisfaction) }}>{{ player.strength_satisfaction }}</span></li>
						</ul>
					</td>
				{% endif %}

				<td>{{ player.age }}</td>
				<td>{{ player.contract_salary|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}
					{% if player.lending_fee > 0 and player.lending_owner_id > 0 %}
						<br><small>+ {{ i18n.getMessage("entity_player_lending_fee") }}: {{ player.lending_fee|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</small>
					{% endif %}
				</td>
				<td>
					{% if player.lending_matches > 0 %}
						<em title="{{ i18n.getMessage("lending_player_marker_tooltip") }}">{{ player.lending_matches }} <i class="icon-star-empty"></i></em>
					{% else %}
						{{ player.contract_matches }}
						{% if player.contract_matches < 10 %}<i class="icon-warning-sign" title="{{ i18n.getMessage("myteam_player_contract_is_ending") }}"></i>{% endif %}
					{% endif %}

				</td>
			</tr>
			{% endfor %}

		</tbody>
		<tfoot>
			<tr>
				<td colspan="{% if env.getConfig("hide_strength_attributes") != "1" %}4{% else %}3{% endif %}"><strong>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</strong></td>
				<td><strong>{{ salarySum|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</strong></td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
	</table>

{% else %}
	<p>{{ i18n.getMessage("no_players_found") }}</p>
{% endif %}

{% endblock %}
