{% extends "base.twig" %}


{% block image %}
<div class="cover" style="background-image: url(/uploads/cover/office.png); background-size: cover;">
    <h2 class="titolo-cover"> {% block page_title %} {{ i18n.getMessage("office_title") }} {% endblock %} </h2>
</div>
{% endblock %}



{% block content %}
{% endblock %}

{% block page_content %}

{% endblock %}
