{% block image %}
<div class="cover" style="background-image: url(/uploads/cover/mercato.jpg); background-size: cover;">
    <h2 class="titolo-cover"> {% block page_title %} {{ i18n.getMessage("transfermarket_title") }} {% endblock %} </h2>
</div>
{% endblock %}

{% extends "base.twig" %}

{% import "macros/paginator.twig" as pagination %}
{% import "macros/playerlists.twig" as playerlists %}
{% import "macros/messagebox.twig" as messagebox %}

{% block page_content %}

<ul class="nav nav-tabs" id="transferTab">
  <li class="active"><a href="#overview" data-toggle="tab">{{ i18n.getMessage("transfermarket_tab_overview") }}</a></li>
  <li><a href="#mybids" data-toggle="tab"
  	data-ajaxtarget="mybidslist" data-ajaxblock="transfermarket-mybids" class="ajaxLink">{{ i18n.getMessage("transfermarket_tab_mybids") }}</a></li>
  <li><a href="#lasttransfers" data-toggle="tab"
  	data-ajaxtarget="lasttransferslist" data-ajaxblock="transfermarket-lasttransfers" class="ajaxLink">{{ i18n.getMessage("transfermarket_tab_lasttransfers") }}</a></li>
  <li><a href="#mytransfers" data-toggle="tab"
  	data-ajaxtarget="mytransferslist" data-ajaxblock="transfermarket-mytransfers" class="ajaxLink">{{ i18n.getMessage("transfermarket_tab_mytransfers") }}</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="overview">

    <form class="form-inline margin-top-20">
  		<label for="position">{{ i18n.getMessage("transfermarket_filter_by_position") }}</label>
  		<select class="form-control" name="position" id="position">
  			<option></option>
  			<option value="goaly"{% if env.getRequestParameter("position") == "goaly" %} selected{% endif %}>{{ i18n.getMessage("option_Torwart") }}</option>
  			<option value="defense"{% if env.getRequestParameter("position") == "defense" %} selected{% endif %}>{{ i18n.getMessage("option_Abwehr") }}</option>
  			<option value="midfield"{% if env.getRequestParameter("position") == "midfield" %} selected{% endif %}>{{ i18n.getMessage("option_Mittelfeld") }}</option>
  			<option value="striker"{% if env.getRequestParameter("position") == "striker" %} selected{% endif %}>{{ i18n.getMessage("option_Sturm") }}</option>
  		</select>
	  	<button type="submit" class="btn btn-primary">{{ i18n.getMessage("button_display") }}</button>
	  	<a href="{{ env.getInternalUrl("transfermarket") }}" class="btn">{{ i18n.getMessage("button_reset") }}</a>

	  	<input type="hidden" name="page" value="transfermarket" />
	</form>

  {% if transferplayers is defined and transferplayers|length > 0 %}

<div class="alert alert-info margin-top-20 margin-bottom-20" role="alert"> {{ i18n.getMessage("transfermarket_playerscount", playerscount) }} </div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th><abbr title="{{ i18n.getMessage("playertable_head_position") }}">{{ i18n.getMessage("playertable_head_position_abbr") }}</abbr></th>
				<th>{{ i18n.getMessage("playertable_head_name") }}</th>

				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<th>{{ i18n.getMessage("playertable_head_strength") }}</th>
				{% endif %}

				<th>{{ i18n.getMessage("transfermarket_head_deadline") }}</th>
				<th>{{ i18n.getMessage("entity_player_vertrag_gehalt") }}</th>
				<th>{{ i18n.getMessage("transfermarket_head_highestbid") }}</th>
			</tr>
		</thead>
		<tbody>

	  	{% for player in transferplayers %}
			<tr>
				<td><img src="{{ skin.getImage("icons/playertype_" ~ player.position ~ ".png") }}"
					alt="{{ i18n.getMessage("player_position_" ~ player.position) }}" title="{{ i18n.getMessage("player_position_" ~ player.position) }}" />
					{% if player.position_main|length > 0 %}<abbr title="{{ i18n.getMessage("option_" ~ player.position_main) }}">{{ i18n.getMessage("player_mainposition_" ~ player.position_main) }}</abbr>{% endif %}
					</td>
				<td>
					<p><a href="{{ env.getInternalUrl("player", "id=" ~ player.id) }}">{{ player.firstname }} {{ player.lastname }}</a></p>

					<p><small>{% if player.team_id > 0 %}
						(<a href="{{ env.getInternalUrl("team", "id=" ~ player.team_id) }}">{{ player.team_name }}</a>)
					{% else %}
						{{ i18n.getMessage("transfermarket_without_team") }}
					{% endif %}</small></p>

				</td>

				{% if env.getConfig("hide_strength_attributes") != "1" %}
					<td>
						<ul class="unstyled">
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength") }}">{{ i18n.getMessage("playertable_head_strength_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength) }}>{{ player.strength }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_technic") }}">{{ i18n.getMessage("playertable_head_strength_technic_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_technique) }}>{{ player.strength_technique }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_freshness") }}">{{ i18n.getMessage("playertable_head_strength_freshness_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_freshness) }}>{{ player.strength_freshness }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_stamina") }}">{{ i18n.getMessage("playertable_head_strength_stamina_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_stamina) }}>{{ player.strength_stamina }}</span></li>
							<li><span class="incell-strength-label"><abbr title="{{ i18n.getMessage("playertable_head_strength_satisfaction") }}">{{ i18n.getMessage("playertable_head_strength_satisfaction_abbr") }}</abbr>:</span>
								<span {{ playerlists.strengthClass(player.strength_satisfaction) }}>{{ player.strength_satisfaction }}</span></li>
						</ul>
					</td>
				{% endif %}

				<td>{{ env.getFormattedDatetime(player.transfer_deadline) }}</td>
				<td>{{ player.contract_salary|number_format(0, ',', ' ')  }} {{ env.getConfig("game_currency") }}</td>
				<td>
				<p>{% if player.highestbid.contract_matches is defined and player.highestbid.contract_matches > 0 %}
					<a href="{{ env.getInternalUrl("transfer-bid", "id=" ~ player.id) }}">{% if player.team_id > 0 %}
					{{ player.highestbid.amount|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}
					{% else %}{{ i18n.getMessage("transfer_bid_withoutfee") }}{% endif %}</a>
					<br/><small>(<a href="{{ env.getInternalUrl("user", "id=" ~ player.highestbid.user_id) }}">{{ player.highestbid.user_name }}</a>)</small>
				{% else %}
					{% if player.team_id > 0 %}
					{{ player.min_bid|number_format(0, ',', ' ') }} {{ env.getConfig("game_currency") }}<br/>
					<small>({{ i18n.getMessage('transfermarket_min_bid') }})</small>
					{% else %}{{ i18n.getMessage("transfer_bid_withoutfee") }}{% endif %}
				{% endif %}</p>

				{% if env.getUser().getClubId() != player.team_id %}
				<p><a class="btn btn-mini" href="{{ env.getInternalUrl("transfer-bid", "id=" ~ player.id) }}"><i class="icon-hand-up"></i> {{ i18n.getMessage("transfermarket_bid") }}</a></p>
				{% endif %}
				</td>
			</tr>
	  	{% endfor %}

		</tbody>
	</table>

	{{ pagination.paginator(paginator) }}

  {% else %}
  	{{ messagebox.box(i18n.getMessage("transfermarket_no_players"), "", "info") }}
  {% endif %}
  </div>

  <div class="tab-pane" id="mybids">
  	<div id="mybidslist"></div>
  </div>

  <div class="tab-pane" id="lasttransfers">
  	<div id="lasttransferslist"></div>
  </div>

  <div class="tab-pane" id="mytransfers">
  	<div id="mytransferslist"></div>
  </div>
</div>

{% endblock %}
